<!--
Kerrie Low
1.26.20
Full Stack Software Development
http://www.klow.greenriverdev.com/328/dating/summary
-->

<!doctype html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">

        <!-- title -->
        <title>Fluffr &mdash; Admin</title>
        </head>
<body>

<!-- navbar -->
<include href="views/navbar.html">

<div class="container-fluid"> <!-- container fluid -->
    <div class="card m-3"><!-- card -->
        <div class="row"><!-- row -->
            <ol>
                <repeat group="{{ @members }}" value="{{ @member }}">
                    <li><a href="detail/{{ @member['fName'] }}">{{ {{ @member['fName'] }} {{ @student['lName'] }}</a></li>
                </repeat>
            </ol>

        </div><!-- /row -->
    </div><!-- /card -->
</div> <!-- /container fluid -->

<!-- footer -->
<include href="views/footer.html">
</body>
</html>