<!--
Kerrie Low
1.20.20
Full Stack Software Development
http://www.klow.greenriverdev.com/328/dating/
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">

    <!-- title -->
    <title>Fluffr &mdash; Welcome</title>
</head>
<body>

<!-- Nav bar -->
<include href="views/navbar.html">

<div class="container-fluid"> <!-- container -->
    <div class="card mt-3 m-3">
        <div class="d-flex justify-content-between"><!-- content between -->
            <div class="mb-4"><!-- text and button -->

                <h1 class="display-4 lead m-5">Fluffr &mdash; the World's Most Successful Pet Dating Website</h1>

                <p class="m-5"><!-- hook -->
                    At Fluffr, you'll meet other pet lovers who want to have fulfilling, meaningful relationships with
                    their four legged friends. And sometimes, that means finding your favorite pet a playmate.
                    We have the highest compatibility rate of any pet dating site on the web. Pets are matched carefully
                    through an owner questionnaire and location. Come find out why so many are trying Fluffr!
                </p><!-- /hook -->

                <div class="m-5"><!-- testimonials -->

                    <!-- testimonial header -->
                    <h4 class="d-flex justify-content-center">See what other users are saying about us!</h4>

                    <!-- quotes -->
                    <hr>
                    <p class="font-italic d-inline-block">
                        "Spot needed a playmate. Through Fluffr we found Max and now Spot couldn't be happier!"
                    </p>
                    <p class="d-inline-block blockquote-footer">Amy S.</p>
                    <p class="font-italic d-inline-block">
                        "Rex was bored while I was at work. Fluffr helped me find Jeromy and Taz, who keep him busy while
                        I'm away."
                    </p>
                    <p class="d-inline-block blockquote-footer">George O.</p>
                    <p class="font-italic d-inline-block">
                        "I didn't think Lorelei would need a playmate; cats are supposed to be loners, right? Wrong! Mars
                        was the perfect
                        gentleman for her, and now she can't wait to play!"
                    </p>
                    <p class="d-inline-block blockquote-footer">Ben A.</p>
                    <p class="font-italic d-inline-block">
                        "Cedna was a handful before we used Fluffr. She was bored and getting destructive at home.
                        Now that we've met Ryan and Trapper, we go out all the time!"
                    </p>
                    <p class="d-inline-block blockquote-footer">Regina P.</p>
                    <hr>
                    <!-- /quotes -->
                </div><!-- /testimonials -->
                <div class="d-flex justify-content-center"> <!-- button -->

                    <a href="personal-information" type="button" class="btn btn-primary">Create a Profile</a>

                </div><!-- /button -->
            </div><!-- /text and button -->
            <div class="m-0"><!-- splash image -->

                <img id="splash-image" class="m-5" src="images/splash-page-image.jpg" alt="Splash Page Image" width="500px"
                     height="750px">

            </div><!-- /splash image -->
        </div><!-- /content between -->
    </div>
</div> <!-- /container -->

<!-- footer -->
<include href="views/footer.html">
</body>
</html>
