<!--
Kerrie Low
1.20.20
Full Stack Software Development
http://www.klow.greenriverdev.com/328/dating/
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- favicon -->
    <link rel="icon" href="images/favicon.jpg" sizes="16x16 32x32" type="image/jpg">
    <!-- bootstrap -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">
    <!-- title -->
    <title>Fluffr &mdash; Welcome</title>
</head>
<body>
<div class="container"> <!-- container -->
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="display-4 lead">Fluffr &mdash; the World's Most Successful Pet Dating Website</h1>

            <p>
                At Fluffr, you'll meet other pet lovers who want to have fulfilling, meaningful relationships with
                their four legged friends. And sometimes, that means finding your favorite pet a playmate.
                We have the highest compatibility rate of any pet dating site on the web. Pets are matched carefully
                through an owner questionnaire and location. Come find out why so many are trying Fluffr!
            </p>

            <div><!-- testimonials -->
                <!-- testimonial header -->
                <h4 class="justify-content-center">See what other users are saying about us!</h4>

                <!-- quotes -->
                <hr>
                <p class="font-italic d-inline-block">
                    "Spot needed a playmate. Through Fluffr we found Max and now Spot couldn't be happier!"
                </p>
                <p class="d-inline-block blockquote-footer">Amy S.</p>
                <p class="font-italic d-inline-block">
                    "Rex was bored while I was at work. Fluffr helped me find Jeromy and Taz, who keep him busy while
                    I'm away."
                </p>
                <p class="d-inline-block blockquote-footer">George O.</p>
                <p class="font-italic d-inline-block">
                    "I didn't think Lorelei would need a playmate; cats are supposed to be loners, right? Wrong! Mars
                    was the perfect
                    gentleman for her, and now she can't wait to play!"
                </p>
                <p class="d-inline-block blockquote-footer">Ben A.</p>
                <p class="font-italic d-inline-block">
                    "Cedna was a handful before we used Fluffr. She was bored and getting destructive at home.
                    Now that we've met Ryan and Trapper, we go out all the time!"
                </p>
                <p class="d-inline-block blockquote-footer">Regina P.</p>
                <hr>
                <!-- /quotes -->
            </div><!-- /testimonials -->

            <button type="button" class="justify-content-center btn btn-primary">Create a Profile!</button>

        </div>
        <div>
            <div><!-- splash image -->
                <img src="splash-page-image.jpg" alt="Splash Page Image" height="183" width="275">
            </div><!-- /splash image -->
        </div>
    </div>


</div> <!-- /container -->
<!-- jQuery -->
<!-- slim jQuery does not support AJAX -->
<script src="//code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
