<!--
Kerrie Low
1.20.20
Full Stack Software Development
http://www.klow.greenriverdev.com/328/dating/
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- stylesheet -->
    <link rel="stylesheet" href="../styles/styles.css">
    <!-- title -->
    <title>Fluffr &mdash; Welcome</title>
</head>
<body>
<div class="container justify-content-between"> <!-- container -->
    <h1 class="display-4 lead">Fluffr &mdash; the World's Most Successful Pet Dating Website</h1>
    <div>
        <p class="display-10">
            At Fluffr, you'll meet other pet lovers who want to have fulfilling, meaningful relationships with
            their four legged friends. And sometimes, that means finding your favorite pet a playmate.
        </p>
        <p class="blockquote"></p>
    </div>
    <img src="../images/splash-page-image.jpg" alt="Splash Page Image">

</div> <!-- /container -->
<!-- jQuery -->
<!-- slim jQuery does not support AJAX -->
<script src="//code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
