<!--
Kerrie Low
1.26.20
Full Stack Software Development
http://www.klow.greenriverdev.com/328/dating/interests
-->

<!doctype html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">

        <!-- title -->
        <title>Fluffr &mdash; Interests</title>
        </head>
<body>

<!-- navbar -->
<include href="views/navbar.html">

    <div class="container-fluid"> <!-- container fluid -->
        <div class="card m-3"><!-- card -->

            <div class="m-3"><!-- page title -->
                <h1>Interests</h1>
                <hr>
            </div><!-- /page title -->

            <form method="POST" action="#"><!-- form -->

                <div class="m-3"><!-- indoor interests -->
                    <p><strong>Indoor</strong></p>
                    <div class="d-flex justify-content-between"><!-- justify content between -->

                        <repeat group="{{ @indoor }}" key="{{ @keyIndoor }}" value="{{ @valueIndoor }}">

                            <label for="{{ @keyIndoor }}" class="control-label">
                                <input type="checkbox" id="{{ @keyIndoor }}" value="{{ @valueIndoor }}"
                                       name="indoor[]"

                                <check if="{{ isset(@selectedIndoor) && in_array(@valueIndoor, @selectedIndoor) }}">
                                    checked
                                </check>

                                > {{ @valueIndoor }}
                            </label>
                        </repeat>

                        <check if="{{ isset(@errors['indoor']) }}">
                            <label class="text-danger">{{ @errors['indoor'] }}</label>
                        </check>
                    </div><!-- /justify content between -->
                </div><!-- /indoor interests -->

                <div class="m-3"><!-- outdoor interests -->
                    <p><strong>Outdoor</strong></p>
                    <div class="d-flex justify-content-between"><!-- justify content between -->

                        <repeat group="{{ @outdoor }}" key="{{ @keyOutdoor }}" value="{{ @valueOutdoor }}">

                            <label for="{{ @keyOutdoor }}" class="control-label">
                                <input type="checkbox" id="{{ @keyOutdoor }}" value="{{ @valueOutdoor }}"
                                       name="outdoor[]"

                                <check if="{{ isset(@selectedOutdoor) && in_array(@valueOutdoor, @selectedOutdoor) }}">
                                    checked
                                </check>

                                > {{ @valueOutdoor }}
                            </label>
                        </repeat>

                        <check if="{{ isset(@errors['outdoor']) }}">
                            <label class="text-danger">{{ @errors['outdoor'] }}</label>
                        </check>
                    </div><!-- /justify content between -->
                </div><!-- /outdoor interests -->
                <div class="d-flex justify-content-end m-3"><!-- button -->
                    <button type="submit" id="next" class="btn btn-primary">Next</button>
                </div><!-- /button -->
            </form><!-- /form -->
        </div><!-- card -->
    </div> <!-- /container fluid -->

    <!-- footer -->
    <include href="views/footer.html">
</body>
</html>