<!--
Kerrie Low
1.26.20
Full Stack Software Development
http://www.klow.greenriverdev.com/328/dating/personal-information
-->

<!doctype html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">

    <!-- title -->
    <title>Fluffr &mdash; Personal Information</title>
</head>
<body>
<!-- navbar -->
<include href="views/navbar.html">

<div class="container-fluid"> <!-- container fluid -->
    <div class="card m-3"> <!-- card -->

        <div class="m-3"><!-- page title -->
            <h1>Personal Information</h1>
            <hr>
        </div><!-- /page title -->

        <form method="POST" action="#"> <!-- form -->

            <div class="row"> <!-- row -->
                <div class="col-9 m-3"><!-- col -->

                    <fieldset class="form-group"><!-- information -->

                        <!-- first name -->
                        <div class="form-row">
                            <label for="fName" class="control-label"><strong>First Name</strong></label>
                            <input type="text" id="fName" name="fName" value="{{ @fName }}" class="form-control">
                            <check if="{{ isset(@errors['fName']) }}">
                                <label class="text-danger">{{ @errors['fName'] }}</label>
                            </check>
                        </div>
                        <br>

                        <!-- /first name -->

                        <!-- last name -->
                        <div class="form-row">
                            <label for="lName" class="control-label"><strong>Last Name</strong></label>
                            <input type="text" id="lName" name="lName" value="{{ @lName }}" class="form-control">
                            <check if="{{ isset(@errors['lName']) }}">
                                <label class="text-danger">{{ @errors['lName'] }}</label>
                            </check>
                        </div>
                        <br>
                        <!-- /last name -->

                        <!-- age -->
                        <div class="form-row">
                            <label for="age" class="control-label"><strong>Age</strong></label>
                            <input type="text" id="age" name="age" value="{{ @age }}" class="form-control">
                            <check if="{{ isset(@errors['age']) }}">
                                <label class="text-danger">{{ @errors['age'] }}</label>
                            </check>
                        </div>
                        <br>
                        <!-- /age -->

                        <!-- gender -->
                        <p><strong>Gender</strong></p>
                        <div class="form-row">
                            <repeat group="{{ @genders }}" value="{{ @value }}">
                                <label for="{{ @value }}">
                                    <input type="radio" id="{{ @value }}" name="gender" value="{{ @value }}"
                                    <check if="{{ @gender == @value }}">
                                        checked
                                    </check>
                                    > {{ ucfirst(@value) }}
                                </label>&emsp;
                            </repeat>
                        </div>
                        <!-- /gender -->

                        <!-- phone number -->
                        <div class="form-row">
                            <label for="phone" class="control-label"><strong>Phone number</strong></label>
                            <input type="tel" id="phone" name="phone" value="{{ @phone }}" pattern="{0-9}{3}-{0-9}{3}-{0-9}{4}"
                                   class="form-control">
                            <check if="{{ isset(@errors['phone']) }}">
                                <label class="text-danger">{{ @errors['phone'] }}</label>
                            </check>
                        </div>
                        <!-- /phone number -->

                        <!-- Premium Membership -->
                        <br>
                        <label><strong>Premium Membership</strong></label>
                        <div class="form-row custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="premium" name="premium">
                            <label class="custom-control-label" for="premium">Sign me up for Preium Membership!</label>
                        </div>
                        <!-- /premium membership -->
                    </fieldset><!-- /information -->
                </div><!-- /col -->

                <div class="col m-5"><!-- col -->
                    <div id="privacy" class="card"><!-- privacy notice -->

                        <p class="card-body"><strong>Note:</strong> All information entered is protected by our <a href="privacy-policy">privacy policy</a>.
                            Profile information can only be viewed by others with your permission</p>

                    </div><!-- /privacy notice -->
                </div><!-- /col -->
            </div><!-- /row -->

            <!-- button -->
            <div class="d-flex justify-content-end m-3">
                <button type="submit" id="next" class="btn btn-primary ">Next</button>
            </div>
            <!-- /button -->

        </form> <!-- /form -->
    </div><!-- /card -->
</div> <!-- /container fluid -->

<!-- footer -->
<include href="views/footer.html">
</body>
</html>