<!--
Kerrie Low
1.26.20
Full Stack Software Development
http://www.klow.greenriverdev.com/328/dating/profile
-->

<!doctype html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">

        <!-- title -->
        <title>Fluffr &mdash; Profile</title>
        </head>
<body>
<!-- navbar -->
<include href="views/navbar.html">

<div class="container-fluid"> <!-- container fluid -->
    <div class="card m-3"><!-- card -->

        <!-- page title -->
        <div class="m-3">
            <h1>Profile</h1>
            <hr>
        </div>
        <!-- /page title -->

        <form method="POST" action="#"> <!-- form -->
            <fieldset class="form-group"><!-- fieldset -->
                <div class="row m-3"><!-- row -->
                    <div class="col"><!-- col1 -->

                        <!-- email -->
                        <label for="email" class="control-label"><strong>Email</strong></label>
                        <input type="text" id="email" name="email" value="{{ @email }}" class="form-control">
                        <check if="{{ isset(@errors['email']) }}">
                            <label class="text-danger">{{ @errors['email'] }}</label>
                        </check>
                        <br>
                        <!-- /email -->

                        <!-- state -->
                        <label for="state" class="control-label"><strong>State</strong>
                            <select id="state" name="state" class="form-control">
                                <option value="none">-- Select a State --</option>
                                <repeat group="{{ @states }}" key="{{ @stateKey }}" value="{{ @stateValue }}">
                                    <option value="{{ @stateKey }}">{{ @stateValue }}</option>
                                </repeat>
                            </select>
                        </label>
                        <br>
                        <!-- /state -->

                        <!-- seeking -->
                        <div class="form-row">
                            <label for="seeking"><strong>Seeking</strong>
                                <div id="seeking" name="seeking">
                                    <label for="dogs">
                                        <input type="radio" id="dogs" name="seeking" value="Dogs"> Dogs &emsp;
                                    </label>
                                    <label for="cats">
                                        <input type="radio" id="cats" name="seeking" value="Cats"> Cats
                                    </label>
                                </div>
                            </label>
                        </div>
                        <!-- /seeking -->

                        <!-- size -->
                        <label for="size" class="control-label"><strong>Size</strong>
                            <select id="size" name="size" class="form-control">
                                <option value="none">-- Select a Size --</option>
                                <repeat group="{{ @sizes }}" key="{{ @key }}" value="{{ @value }}">
                                    <option value="{{ @key }}">{{ @value }}</option>
                                </repeat>
                            </select>
                        </label>
                        <br>
                        <!-- /size -->

                        <!-- vaccination -->
                        <p><strong>Note:</strong> All pets must be up to date for all vaccinations.</p>
                        <label for="vaccination" class="control-label">
                            <input type="checkbox" id="vaccination" name="vaccination"> Verify Vaccination
                        </label>
                        <!-- /vaccination -->

                    </div><!-- /col1 -->

                    <div class="col"><!-- col2 -->

                        <!-- pet name -->
                        <label for="pName" class="control-label"><strong>Pet Name</strong></label>
                        <input type="text" id="pName" name="pName" class="form-control">
                        <br>
                        <!-- /pet name -->

                        <!-- species -->
                        <label for="species" class="control-label"><strong>Species</strong></label>
                        <select id="species" name="species" class="form-control">
                            <option value="none">-- Select a Species --</option>
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                        </select>
                        <br>
                        <!-- /species -->

                        <!-- biography -->
                        <label for="biography" class="control-label"><strong>Pet Bio</strong>
                            <textarea type="text" id="biography" name="biography" rows="6" cols="120" class="form-control"></textarea>
                        </label>
                        <!-- /biography -->

                    </div><!-- /col2 -->
                </div><!-- /row -->
            </fieldset><!-- /fieldset -->

            <div class="d-flex justify-content-end m-3"><!-- button -->
                <button type="submit" id="next" class="btn btn-primary">Next</button>
            </div><!-- /button -->
        </form> <!-- /form -->
    </div><!-- /card -->
</div> <!-- /container fluid -->

<!-- footer -->
<include href="views/footer.html">

</body>
</html>