<!--
Kerrie Low
1.26.20
Full Stack Software Development
http://www.klow.greenriverdev.com/328/dating/profile
-->

<!doctype html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">

        <!-- title -->
        <title>Fluffr &mdash; Profile</title>
        </head>
<body>
<!-- navbar -->
<include href="views/navbar.html">
    <div class="container-fluid"> <!-- container fluid -->

        <form method="POST" action="interests"> <!-- form -->


        </form> <!-- /form -->
    </div> <!-- /container fluid -->

    <!-- footer -->
    <include href="views/footer.html">
</body>
</html>