<!--
Kerrie Low
1.26.20
Full Stack Software Development
http://www.klow.greenriverdev.com/328/dating/summary
-->

<!doctype html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">

        <!-- title -->
        <title>Fluffr &mdash; Summary</title>
        </head>
<body>

<!-- navbar -->
<include href="views/navbar.html">

<div class="container-fluid"> <!-- container fluid -->
    <div class="card m-3"><!-- card -->
        <div class="row"><!-- row -->
            <div class="col"><!-- information -->
                <div class="card m-5"><!-- inner card -->
                    <ul class="list-group list-group-flush"><!-- list of session variables -->
                        <li class="list-group-item">Name: {{ ucfirst(@SESSION.member->getFName()) }} {{ ucfirst(@SESSION.member->getLName()) }}</li>
                        <li class="list-group-item">Gender: {{ ucfirst(@SESSION.member->getGender()) }}</li>
                        <li class="list-group-item">Age: {{ @SESSION.member->getAge() }}</li>
                        <li class="list-group-item">Phone: {{ @SESSION.member->getPhone() }}</li>
                        <li class="list-group-item">Email: {{ @SESSION.member->getEmail() }}</li>
                        <li class="list-group-item">State: {{ @SESSION.member->getState() }}</li>
                        <li class="list-group-item">Pet: {{ ucfirst(@SESSION.member->getPName()) }}</li>
                        <li class="list-group-item">Seeking: {{ ucfirst(@SESSION.member->getSeeking()) }}</li>
                        <check if="{{ @SESSION.member->isPremium() }}">
                            <li class="list-group-item">Interests: {{ implode(", ", ucfirst(@SESSION.member->getInDoorInterests())) }}
                                {{ implode(", ", ucfirst(@SESSION.member->getOutDoorInterests())) }}</li>
                        </check>
                    </ul><!-- /list -->
                </div><!-- /inner card -->
            </div><!-- /information -->

            <div class="col"><!-- picture and bio -->

                <div class="d-flex justify-content-center"><!-- picture -->
                    <img src="images/icon_missing_full.png" alt="No Profile Picture">
                </div><!-- /picture -->

                <div><!-- bio -->
                    <p class="lead">Biography</p>
                    <p>{{ @SESSION.member->getBio() }}</p>
                </div><!-- /bio -->

            </div><!-- /picture and bio -->
        </div><!-- /row -->

        <div class="d-flex justify-content-center m-5"><!-- button -->
            <button type="button" id="contact-me" class="btn btn-primary">Contact Me</button>
        </div><!-- /button -->

    </div><!-- /card -->
</div> <!-- /container fluid -->

<!-- footer -->
<include href="views/footer.html">
</body>
</html>