<!--
Kerrie Low
1.26.20
Full Stack Software Development
http://www.klow.greenriverdev.com/328/dating/summary
-->

<!doctype html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">

        <!-- title -->
        <title>Fluffr &mdash; Summary</title>
        </head>
<body>

<!-- navbar -->
<include href="views/navbar.html">

<div class="container-fluid"> <!-- container fluid -->
    <div class="card m-3"><!-- card -->
        <div class="row"><!-- row -->
            <div class="col"><!-- information -->
                <div class="card m-5"><!-- inner card -->
                    <ul class="list-group list-group-flush"><!-- list of session variables -->
                        <li class="list-group-item">Name: {{ @SESSION.fName }} {{ @SESSION.lName }}</li>
                        <li class="list-group-item">Gender: {{ @SESSION.gender }}</li>
                        <li class="list-group-item">Age: {{ @SESSION.age }}</li>
                        <li class="list-group-item">Phone: {{ @SESSION.phone }}</li>
                        <li class="list-group-item">Email: {{ @SESSION.email }}</li>
                        <li class="list-group-item">State: {{ @SESSION.state }}</li>
                        <li class="list-group-item">Pet: {{ @SESSION.pName }}</li>
                        <li class="list-group-item">Seeking: {{ @SESSION.seeking }}</li>
                        <li class="list-group-item">Interests: {{ implode(", ", @SESSION.indoor) }}
                            {{ implode(", ", @SESSION.outdoor) }}</li>
                    </ul><!-- /list -->
                </div><!-- /inner card -->
            </div><!-- /information -->

            <div class="col"><!-- picture and bio -->

                <div class="d-flex justify-content-center"><!-- picture -->
                    <img src="images/icon_missing_full.png" alt="No Profile Picture">
                </div><!-- /picture -->

                <div><!-- bio -->
                    <p class="lead">Biography</p>
                    <p>{{ @SESSION.biography }}</p>
                </div><!-- /bio -->

            </div><!-- /picture and bio -->
        </div><!-- /row -->

        <div class="d-flex justify-content-center m-5"><!-- button -->
            <button type="button" id="contact-me" class="btn btn-primary">Contact Me</button>
        </div><!-- /button -->

    </div><!-- /card -->
</div> <!-- /container fluid -->

<!-- footer -->
<include href="views/footer.html">
</body>
</html>